.row{
    padding: 10px;
}

.card-categoria{
    margin: 5px;
    max-width: 15rem;
}

.container-cuerpo{
    width: 55%;
}

.total_card{
    width: 95%;
}

.barra_abajo{
    background-color: rgb(35, 55, 67);
}